## Fatores
_Factos_ é uma variável categórica, que corresponde a um número limitado de categorias.

Uma variável continua correndo a infinitos valores.

In [ ]:
nomes_vetor <- c("Daisy", "Pedro", "Daniela", "Júlia")
familia_fator <- factor(nomes_vetor, order = TRUE, levels = c("Daniela", "Julia", "Daisy", "Pedro"))
print(familia_fator)

[1] Daisy   Pedro   Daniela <NA>
Levels: Daniela < Julia < Daisy < Pedro

In [ ]:
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)

levels(factor_survey_vector) <- c("Female", "Male")

print(factor_survey_vector)

[1] Male   Female Female Male   Male
Levels: Female Male

In [ ]:
# we can count how many data we have in a vector using summary

survey_vector <- c("M", "F", "F", "M", "M")

factor_survey_vector <- factor(survey_vector)

levels(factor_survey_vector) <- c("Female", "Male")

summary(survey_vector)

summary(factor_survey_vector)

   Length     Class      Mode
        5 character character

Female   Male
     2      3

Parametros podem ser adicionados na função factor para definir a ordem de importância



```
factor_speed_vector <- factor(speed_vector,
    ordered = TRUE,
        levels = c("slow", "medium", "fast"))
```

## Dataframe planeta
É uma matriz que suporta vários tipos de dados

```
     name               type diameter rotation rings
1 Mercury Terrestrial planet    0.382    58.64 FALSE
2   Venus Terrestrial planet    0.949  -243.02 FALSE
3   Earth Terrestrial planet    1.000     1.00 FALSE
4    Mars Terrestrial planet    0.532     1.03 FALSE
5 Jupiter          Gas giant   11.209     0.41  TRUE
6  Saturn          Gas giant    9.449     0.43  TRUE
```

In [ ]:
name <- c("Mercury", "Venus", "Earth",
          "Mars", "Jupiter", "Saturn",
          "Uranus", "Neptune")
type <- c("Terrestrial planet",
          "Terrestrial planet",
          "Terrestrial planet",
          "Terrestrial planet", "Gas giant",
          "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532,
              11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03,
              0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)


planets_df <- data.frame(name, type, diameter, rotation, rings)
print(planets_df)

     name               type diameter rotation rings
1 Mercury Terrestrial planet    0.382    58.64 FALSE
2   Venus Terrestrial planet    0.949  -243.02 FALSE
3   Earth Terrestrial planet    1.000     1.00 FALSE
4    Mars Terrestrial planet    0.532     1.03 FALSE
5 Jupiter          Gas giant   11.209     0.41  TRUE
6  Saturn          Gas giant    9.449     0.43  TRUE
7  Uranus          Gas giant    4.007    -0.72  TRUE
8 Neptune          Gas giant    3.883     0.67  TRUE

In [ ]:
print(planets_df[1,3]) # linha 1 coluna 3 - linha Mercurio coluna Diametro

[1] 0.382

In [ ]:
print(planets_df[4,])

  name               type diameter rotation rings
4 Mars Terrestrial planet    0.532     1.03 FALSE

In [ ]:
print(diameter[1:5]) # seleciona coluna Diametro, da linha 1 (0.382) até a linha 5 (11.209)

[1]  0.382  0.949  1.000  0.532 11.209

## Dataframe CO2

In [ ]:
# construcao de vetores
pais <- c("Brasil", "China", "India", "Russia", "Estados Unidos")
ano <- c("2019", "2021", "2021", "2020", "2019")
id <- c("1", "2", "3", "4", "5")
co2 <- c(0.096799,2.45637,1.94876,0.0248176,2.7556)
ranking <- c(5,1,3,4,2)
setor <- c("Energia", "Transporte Terrestre", "Residencial", "Aviação Doméstica", "Indústria")

In [ ]:
# construcao de data frame
co2_df <- data.frame(id, pais, ano, co2, setor, ranking)

In [ ]:
# exibir primeiras linhas do df
head(co2_df)

  id pais           ano  co2       setor                ranking
1 1  Brasil         2019 0.0967990 Energia              5
2 2  China          2021 2.4563700 Transporte Terrestre 1
3 3  India          2021 1.9487600 Residencial          3
4 4  Russia         2020 0.0248176 Aviação Doméstica    4
5 5  Estados Unidos 2019 2.7556000 Indústria            2